
/* BUBBLE TRANSITION */
.bubble-transition {
  position: fixed;
  inset: 0;
  z-index: 1000;
  overflow: hidden;
  pointer-events: none;
  background: transparent;
}

.bubble {
  position: absolute;
  background: rgba(255, 255, 255, 0.25);
  border-radius: 50%;
  animation-name: bubbleRise;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes bubbleRise {
  from {
    transform: translateY(0);
    opacity: 0.8;
  }
  to {
    transform: translateY(-200vh); /* Bubbles rise up off screen */
    opacity: 0;
  }
}


.bubble-transition::before {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(3px);
  z-index: -1;
}

.fade-out {
  animation: fadeOut 1s ease-in-out forwards;
}

@keyframes fadeOut {
  to {
    opacity: 0;
    visibility: hidden;
  }
}
